@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.logo{
    height: 100px;
    width: 250px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    background-color: rgb(175, 212, 214);
}
.nav-links li{
    display: inline-flex;
    padding: 35px;
    font-size: 18px;
}
.contact{
    margin-right: 80px;
}
.container{
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin: 40vh auto 0;
}
.dev-text{
    font-size: 36px;
}