@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.logo{
    height: 100px;
    width: 250px;
}
header{
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    align-items: center;
    min-height: 6vh;
    background-color: #111;
}
.nav-links li{
    display: inline-flex;
    padding: 35px;
    font-size: 18px;
    color: white;
}
li a{
    text-decoration: none;
    color: white;
}
.contact{
    margin-right: 80px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 1400px; */
    margin: 30vh auto 0;
    font-size: 2em;
}

/* Footer Elements and shii*/
/* footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    background-color: #111;
    position: fixed;
    height: 100px;
    width: 100%;
}
.copyright{
    color: white;
    font-size: 18px;
}
.social-links a{
    text-decoration: none;
    padding: 20px;
    color: white;
}

/* Media Queries and stuff*/
@media only screen and (max-width: 768px) {
    .nav-links{
        display: none;

    }
    .logo{
        height: 50px;
        width: 50px;
    }
    .container{
        padding-left: 50px;
    }
    /* footer{
        position: relative;
    }; */
}

