*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    /* height: 100%; */
}
.nav-container{
    height: 100px;
    color: #2d1832;
    font-size: 32px;
    background-color: white;
    align-items: center;

}
.name-logo{
    float: left;
    width: 50%;
    height: 50%;
}
.navbar{
    float: right;
    padding-right: 24px;
    padding-top: 24px;
}
.navbar li{
    display: inline-block;
    list-style-type: none;
    padding-left: 16px;
}
body{
    background-color:#0f2417;
}
.construction{
    width: 100%;
    background-color: #2da7cb;
    text-align: center;
}
footer{
    background-color: #e0e3f0;
}
.icons{
    margin: auto;
    text-align: center;
}
.icons i{
    padding: 16px;
    color: #753f83;
}
/* :root {
    // Like 1
    text: #2d1832;
    div-background: #2da7cb;
    border: #f2f2f2;
    parent-background: #0f2417;
} */